html{
    background-color: beige;
}

h1{
    font-size: 4vw;
    font-family: sans-serif;
    font-weight: 300;
    margin: 0;
}

.nav{
    position: fixed;
    top: 1vw; 
    text-align: left;
    font-family: sans-serif;
    font-weight: 300;    
}

a{
    font-size: 4vw;
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
}

body{
    text-align: center;
    margin: 1vw;
}

p{
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5vw;
}

img{
    max-width: 70vw;
    max-height: 70vh;
    margin: 1vw;
}

img:hover{
    border-radius: 25px;
}

.title{
    position: -webkit-sticky;
    position: sticky;
    top: 1vw;
}

.D{
    margin-top: 25vh;
}
    
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 5vw;
    }
    
    a{
        font-size: 5vw;
    }
    
    p{
        font-size: 3vw;
    }
}