html{
    background-color: beige;
}

h1{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 300;
    margin: 0;
}

.nav{
    position: fixed;
    top: 1vw; 
    text-align: left;
    font-family: sans-serif;
    font-weight: 300;    
}

a{
    font-size: 50px;
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
}

body{
    text-align: center;
    margin: 1vw;
}

p{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 5vw;
}

img{
    max-width: 70vw;
    max-height: 70vh;
    margin: 1vw;
}

img:hover{
    border-radius: 25px;
}

.title{
    position: fixed;
    top: 1vw; 
    width: 100%;
}

.D{
    margin-top: 25vh;
}

.footer{
    margin-top: 5vw;
    bottom:0;
}
    
@media only screen and (max-width: 750px) {
    h1 {font-size: 25px;
    }
    
    a{font-size: 25px;
    }
    
    p{font-size: 15px;
    }

}